<div class="relative">
  <button (click)="togglePanel()" class="relative focus:outline-none">
    <lucide-angular [img]="bellIcon" class="w-6 h-6"></lucide-angular>
    @if (unseenCount>0) {
    <span
      class="absolute -top-1 -right-1 bg-red-600 text-white text-xs rounded-full px-1.5 py-0.5"
    >
      {{ unseenCount }}
    </span>
    }
  </button>

  @if (panelOpen) {
  <div
    class="absolute -right-50 md:right-0 mt-2 w-80 bg-white dark:bg-gray-800 shadow-lg rounded-lg z-50 border border-gray-200 dark:border-gray-700"
  >
    <div
      class="p-4 border-b border-gray-200 dark:border-gray-700 font-semibold"
    >
      Notifications
    </div>
    <div
      *ngIf="notifications.length === 0"
      class="p-4 text-gray-500 dark:text-gray-400"
    >
      No notifications
    </div>
    @for (n of notifications; track n) {
    <div
      class="p-4 border-b border-gray-100 dark:border-gray-700 last:border-b-0"
    >
      @if (n.type === 'bid') {
      <div class="font-medium">New Bid Placed!</div>
      <div>Auction: <span class="font-mono">{{ n.auctionItemId }}</span></div>
      <div>
        Amount:
        <span class="font-semibold">{{ n.amount | currency:'INR' }}</span>
      </div>
      <div class="text-xs text-gray-400">{{ n.bidTime | date:'short' }}</div>
      } @if (n.type === 'status') {
      <div class="font-medium">Auction Status Updated!</div>
      <div>Auction: <span class="font-mono">{{ n.name }}</span></div>
      <div>Status: <span class="font-semibold">{{ n.status }}</span></div>
      <div class="text-xs text-gray-400">{{ n.updatedAt | date:'short' }}</div>
      } @if(n.type==='newAuction'){
      <div class="font-medium">New Auction Created!</div>
      <div>Auction: <span class="font-mono">{{ n.name }}</span></div>
      <div>
        Start Time:
        <span class="font-semibold">{{ n.startTime | date:'short'}}</span>
      </div>
      <div>
        End Time:
        <span class="font-semibold">{{ n.endTime| date:'short' }}</span>
      </div>
      <div class="text-xs text-gray-400">{{ n.startingPrice }}</div>
      } @if(n.type === 'winningBidUpdate'){
      <div class="font-medium">Winning Bid Update</div>
      <div>Auction: <span class="font-mono">{{ n.name }}</span></div>
      <div>Winning Id: <span class="font-semibold">{{ n.winnerId}}</span></div>
      <div>User Id: <span class="font-semibold">{{ n.sellerId}}</span></div>
      <div>Amount</div>
      <div class="text-xs text-gray-400">{{ n.amount }}</div>
      }
    </div>
    }
  </div>
  }
</div>
