<div>
  <h1 class="text-center mt-10">Forget Password</h1>

  <div class="mt-10 flex justify-center items-center form-container mx-auto">
    <form
      [formGroup]="forgetPassword"
      (ngSubmit)="emailVerified ? submit() : checkEmail()"
    >
      <input
        #passwordInput
        formControlName="email"
        placeholder="Enter your registered email"
        class="form-input"
      />
      <app-toggle-password
        [targetElement]="passwordInput"
        class="absolute -translate-x-10 mt-3"
      ></app-toggle-password>
      @if (forgetPassword.get('email')?.touched &&
      forgetPassword.get('email')?.invalid) {
      <div class="error-msg">
        @if (forgetPassword.get('email')?.errors?.['required']) {
        <p>Email is required.</p>
        } @if (forgetPassword.get('email')?.errors?.['email']) {
        <p>Invalid email format.</p>
        }
      </div>
      }
      <button type="submit" class="btn-primary mt-5 w-full">
        {{ emailVerified ? 'Reset Password' : 'Verify Email' }}
      </button>

      @if (emailVerified) {
      <div>
        <input
          #newPasswordInput
          formControlName="newPassword"
          type="password"
          placeholder="New password"
          class="form-input mt-2"
        />
        <app-toggle-password
          [targetElement]="newPasswordInput"
          class="absolute -translate-x-10 mt-3"
        ></app-toggle-password>
        @if (forgetPassword.get('newPassword')?.touched &&
        forgetPassword.get('password')?.invalid) {
        <div class="error-msg">
          @if (forgetPassword.get('newPassword')?.errors?.['required']) {
          <p>Password is required.</p>
          } @if (forgetPassword.get('newPassword')?.errors?.['weakPassword']) {
          <p>
            Password must be at least 6 characters, contain a number and symbol.
          </p>
          }
        </div>
        }
        <input
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirm password"
          class="form-input mt-2"
        />
        @if (forgetPassword.get('confirmPassword')?.touched &&
        forgetPassword.get('confirmPassword')?.errors?.['required']) {
        <div class="error-msg">
          <p>Confirm Password is required.</p>
        </div>
        } @if ( forgetPassword.hasError('passWordDifferent') &&
        forgetPassword.get('confirmPassword')?.touched &&
        !forgetPassword.get('confirmPassword')?.errors?.['required'] ) {
        <div class="error-msg">
          <p>Passwords do not match.</p>
        </div>
        }
        <button type="submit" class="btn-primary">Submit</button>
      </div>
      }
    </form>
  </div>
</div>
