<div
  class="flex items-center justify-center min-h-screen flex-col bg-gray-100 dark:bg-gray-900"
>
  <h1 class="font-bold mb-4">Change your password here</h1>
  <div class="form-container">
    <form [formGroup]="changePasssword" (ngSubmit)="onSubmit()">
      <label class="form-label">Current Password</label>
      <input
        #currentPassword
        type="password"
        class="form-input"
        formControlName="currentPassword"
      />

      <app-toggle-password
        [targetElement]="currentPassword"
        class="absolute -translate-x-10 mt-3"
      ></app-toggle-password>
      <label class="form-label">New password</label>
      <input
        #newPassword
        type="password"
        class="form-input"
        formControlName="newPassword"
      />
      <app-toggle-password
        [targetElement]="newPassword"
        class="absolute -translate-x-10 mt-3"
      ></app-toggle-password>
      @if (changePasssword.get("newPassword")?.touched &&
      changePasssword.get("newPassword")?.invalid) {
      <div class="error-msg">
        @if (changePasssword.get('newPassword')?.errors?.['required']) {
        <p>Password is required.</p>
        } @if (changePasssword.get('newPassword')?.errors?.['weakPassword']) {
        <p>
          Password must be at least 6 characters, contain a number and symbol.
        </p>
        }
      </div>
      }
      <label class="form-label">Confirm New password</label>
      <input
        #newConfirmPasswordInput
        type="password"
        class="form-input"
        formControlName="confirmPassword"
      />
      <app-toggle-password
        [targetElement]="newConfirmPasswordInput"
        class="absolute -translate-x-10 mt-3"
      ></app-toggle-password>

      @if (changePasssword.errors?.['passWordDifferent'] &&
      changePasssword.get('confirmPassword')?.touched) {
      <div class="error-msg">
        <p class="error-msg">Passwords do not match.</p>
      </div>
      }

      <button type="submit" class="btn-primary mt-3 w-full">
        Change Password
      </button>
    </form>
  </div>
</div>
