<h1 class="text-2xl font-bold mb-4">Deleted Users</h1>

<div class="mb-4 flex items-center gap-4">
  <input
    type="text"
    class="form-input w-64"
    placeholder="Search by email"
    [(ngModel)]="searchEmail"
    (input)="onSearchEmail()"
  />
</div>

<div class="table-container mt-5">
  <table class="custom-table w-full">
    <thead>
      <tr>
        <th>Email</th>
        <th>Reason</th>
        <th>Deleted At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (user of filteredDeletedUsers; track user.id) {
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.reason }}</td>
          <td>{{ user.deletedAt | date:'short' }}</td>
          <td>
            <button class="btn-primary" (click)="onRevoke(user)">
              Revoke
            </button>
          </td>
        </tr>
      }
      @if (filteredDeletedUsers.length === 0) {
        <tr>
          <td colspan="4" class="text-center py-4">No deleted users found.</td>
        </tr>
      }
    </tbody>
  </table>
</div>


<app-confirm-modal
  [show]="showRevokeModal"
  [icon]="warning"
  [message]="'Are you sure you want to revoke this user?'"
  (close)="onCancelRevoke()"
  (confirm)="onConfirmRevoke()"
></app-confirm-modal>